* {
      box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
        }

        h1, h2 {
          text-align: center;
          }

          h2 {
            margin-top: 20px;
            }

            ul, table {
              margin: 0 auto;
                max-width: 600px;
                }

                table {
                  border-collapse: collapse;
                  }

                  th, td {
                    padding: 5px;
                      text-align: center;
                        border: 1px solid black;
                        }

                        thead {
                          background-color: #ddd;
                          }

                          form {
                            max-width: 600px;
                              margin: 0 auto;
                                display: flex;
                                  flex-wrap: wrap;
                                    justify-content: space-between;
                                    }

                                    form label {
                                      flex-basis: 100%;
                                      }

                                      form input[type="number"],
                                      form select {
                                        flex-basis: calc(50% - 10px);
                                          margin-bottom: 10px;
                                          }

                                          form button[type="submit"] {
                                            flex-basis: 100%;
                                            }

                                            button {
                                              margin-top: 10px;
                                              }

                                              .error {
                                                color: red;
                                                }
                                                
}