Body {

  color de fondo: #f5f5f5;

  familia tipográfica: Arial, sans-serif;

  margen: 0;

  relleno: 0;

}

h1 {

  alineación de texto: centro;

}

división {

  color de fondo: #fff;

  borde-radio: 10px;

  sombra de caja: 0 2px 5px rgba(0, 0, 0, 0.1);

  margen: 20px automático;

  ancho máximo: 500px;

  relleno: 20px;

}

h2 {

  color: #333;

  tamaño de fuente: 24px;

  margen inferior: 10px;

  alineación de texto: centro;

}

pag {

  color: #666;

  tamaño de fuente: 18px;

  margen: 0;

  relleno: 0;

  alineación de texto: centro;

  altura de línea: 1,5;

}

botón {

  color de fondo: #4CAF50;

  borde: ninguno;

  borde-radio: 5px;

  color blanco;

  cursor: puntero;

  tamaño de fuente: 18px;

  margen: 10px automático;

  relleno: 10px 20px;

  bloqueo de pantalla;

  ancho: 100%;

}

botón: flotar {

  color de fondo: #3e8e41;

}

#connect-metamask {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #F6851B;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#connect-metamask:hover {
  background-color: #E97613;
}

#connect-metamask:focus {
  outline: none;
  box-shadow: 0 0 0 2px #F6851B;
}

